


.header h3,.article-header .title{
	font-family: 'UnifrakturMaguntia', cursive;
}


.text-muted{
	color:#505050;
	font-size: 42px;
}

.article{
	margin-bottom: 30px;
}

.article-header{
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
.article-header .title{
	font-size: 24px;
	color:#505050;
}

.article-header .name,.article-header .date{
	font-size: 16px;
	color:#999;
}